{% extends 'layout.html' %} {% block main %}

<div class="py-3 text-center">
  <h2>Create Post</h2>
  <p class="lead">Create new post below</p>
</div>

<div class="row text-center">
  <div class="col-12 mb-5">
    <img
      id="coverImgOutput"
      width="600px"
      class="post-cover-image d-none"
      height="300px"
    />
  </div>
</div>

<form class="row g-3" id="postForm">
  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Meta data</h3>
    </div>
    <div class="col-md-12 mb-5">
      <label for="inputEmail4" class="form-label">Post Title</label>
      <input
        type="text"
        class="form-control w-100"
        id="postTitle"
        name="postTitle"
      />
    </div>

    <div class="col-12 d-flex justify-content-center mb-3">
      <hr class="dropdown-divider w-50" />
    </div>

    <div class="my-3">
      <div class="col-12">
        <h3>Images</h3>
      </div>
      <label for="formFile" class="form-label">Cover Photo</label>
      <input
        accept="image/jpeg, image/png"
        name="formFileCoverImage"
        class="form-control"
        type="file"
        id="formFileCoverImage"
      />
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center mb-3">
    <hr class="dropdown-divider w-50" />
  </div>

  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Content</h3>
    </div>

    <div class="col-md-12">
      <textarea
        class="form-control w-100"
        rows="5"
        id="postContent"
        name="postContent"
      ></textarea>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="ml-auto btn btn-primary">Submit</button>
  </div>
</form>

<script>
  window.addEventListener("load", () => {
    // Get elements
    const postTitle = document.getElementById("postTitle");
    const postContent = document.getElementById("postContent");
    const coverImageInput = document.getElementById("formFileCoverImage");
    const coverImgOutput = document.getElementById("coverImgOutput");
    const form = document.getElementById("postForm");

    const postRequest = async (url, data) => {
      return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      });
    };

    const generateValidateUrl = (data) => {
      const baseUrl = "/validate?data=";
      return baseUrl + JSON.stringify(data);
    };

    const handlePostRequest = async (data) => {
      const createUrl = "/post";

      try {
        const response = await postRequest(createUrl, data);
        const resData = await response.json();

        if (resData.error) {
          const data = {
            title: resData.title,
            data: resData.data,
          };
          window.location.assign(generateValidateUrl(data));
        }

        const validateData = {
          title: resData.title,
          data: resData.data,
        };

        window.location.assign(generateValidateUrl(validateData));
      } catch (error) {
        const data = {
          title: "Create Failure",
          data: error,
        };
        window.location.assign(generateValidateUrl(data));
      }
    };

    const encodeImage = (file) => {
      const reader = new FileReader();

      reader.readAsDataURL(file);

      return new Promise((resolve) => {
        reader.onloadend = function () {
          resolve(reader.result);
        };
      });
    };

    const handleSubmitClick = async (e) => {
      event.preventDefault();
      let encodedImage = "";

      const coverImg = coverImageInput.files[0];

      if (coverImg) {
        encodedImage = await encodeImage(coverImg);
      }

      const data = {
        metaData: {
          title: postTitle.value,
        },
        content: {
          text: postContent.value,
        },
        images: {
          coverImage: encodedImage,
        },
      };

      handlePostRequest(data);
    };

    form.addEventListener("submit", handleSubmitClick);

    // Add image to page on input change
    coverImageInput.addEventListener("change", (event) => {
      const file = event.target.files[0];

      if (file.size > 1000000) {
        alert("Please upload file smaller than 500kb");
        coverImageInput.value = "";
        return;
      }

      if (file) {
        coverImgOutput.classList.remove("d-none");
        coverImgOutput.src = URL.createObjectURL(file);
      } else {
        coverImgOutput.classList.add("d-none");
      }
    });
    document.getElementById("loadingSpinner").classList.add("d-none");
  });
</script>

{% endblock main %}
