{% extends 'layout.html' %} {% block main %}

<div class="py-5 text-center">
  <h2>Create Post</h2>
  <p class="lead">Create new post below</p>
</div>

<form class="row g-3" id="postForm">
  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Meta data</h3>
    </div>
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Post Title</label>
      <input
        type="text"
        class="form-control w-100"
        id="postTitle"
        name="postTitle"
      />
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center mb-3">
    <hr class="dropdown-divider w-50" />
  </div>

  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Content</h3>
    </div>

    <div class="col-md-12">
      <textarea
        class="form-control w-100"
        rows="5"
        id="postContent"
        name="postContent"
      ></textarea>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="ml-auto btn btn-primary">Submit</button>
  </div>
</form>

<script>
  const form = document.getElementById("postForm");
  const url = "/posts";

  const postData = async (data) => {
    try {
      const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      });

      response
        .json()
        .then((data) => {
          const url = `/create/success/${data.meta_data.id}`;
          window.location.assign(url);
        })
        .catch((e) => {
          console.log(e);
        });
    } catch (e) {
      console.log(e);
    }
  };

  const handleSubmit = (e) => {
    event.preventDefault();

    const postTitle = document.getElementById("postTitle");
    const postContent = document.getElementById("postContent");

    const data = {
      metaData: {
        title: postTitle.value,
      },
      content: {
        text: postContent.value,
      },
    };

    postData(data);
  };

  form.addEventListener("submit", handleSubmit);
</script>

{% endblock main %}
