{% extends 'layout.html' %} {% block main %}

<div class="py-5 text-center">
  <h2>Update Post</h2>
  <p class="lead">Edit post below</p>
</div>

<div class="row text-center">
  <div class="col-12 mb-5">
    <img
      id="coverImage"
      width="700px"
      class="post-cover-image d-none"
      height="300px"
    />
  </div>
  <div>
    <button class="'btn btn-danger" id="deleteImageButton">Delete Image</button>
    <div id="deleteImageValue"></div>
  </div>
</div>

<form class="row g-3" id="postForm">
  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Meta data</h3>
    </div>
    <div class="col-md-12 mb-5">
      <label for="inputEmail4" class="form-label">Post Title</label>
      <input
        type="text"
        class="form-control w-100"
        id="postTitle"
        name="postTitle"
        value="{{post.meta_data.title}}"
      />
    </div>

    <div class="col-12 d-flex justify-content-center mb-3">
      <hr class="dropdown-divider w-50" />
    </div>

    <div class="my-3">
      <div class="col-12">
        <h3>Media</h3>
      </div>
      <label for="formFile" class="form-label">Cover Photo</label>
      <input
        accept="image/jpeg, image/png"
        name="formFileCoverImage"
        class="form-control"
        type="file"
        id="formFileCoverImage"
      />
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center mb-3">
    <hr class="dropdown-divider w-50" />
  </div>

  <div class="col-12 mb-5">
    <div class="col-12">
      <h3>Content</h3>
    </div>

    <div class="col-md-12">
      <textarea
        class="form-control w-100"
        rows="5"
        id="postContent"
        name="postContent"
      >
{{post.content.text}}</textarea
      >
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button type="submit" class="ml-auto btn btn-primary">Submit</button>
  </div>
</form>

<script>
  window.addEventListener("load", () => {
    let deleteImage = false;
    const form = document.getElementById("postForm");
    const coverImageInput = document.getElementById("formFileCoverImage");
    const postTitle = document.getElementById("postTitle");
    const postContent = document.getElementById("postContent");
    const coverImageOutput = document.getElementById("coverImage");

    document
      .getElementById("deleteImageButton")
      .addEventListener("click", () => {
        deleteImage = !deleteImage;
        document.getElementById("deleteImageValue").innerHTML = deleteImage;
      });

    const putRequest = async (url, data) => {
      return fetch(url, {
        method: "PUT", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      });
    };

    const generateValidateUrl = (data) => {
      const baseUrl = "/validate?data=";
      return baseUrl + JSON.stringify(data);
    };

    const encodeImage = (file) => {
      const reader = new FileReader();

      reader.readAsDataURL(file);

      return new Promise((resolve) => {
        reader.onloadend = function () {
          resolve(reader.result);
        };
      });
    };

    const handlePutRequest = async (data) => {
      const postId = "{{post.meta_data.id}}";
      const updateUrl = `/post/${postId}`;

      try {
        const response = await putRequest(updateUrl, data);
        const resData = await response.json();

        if (resData.error) {
          const data = {
            title: resData.title,
            data: resData.data,
          };

          window.location.assign(generateValidateUrl(data));
        }

        const validateData = {
          title: resData.title,
          data: resData.data,
        };

        window.location.assign(generateValidateUrl(validateData));
      } catch (error) {
        const errorData = {
          title: "Update Failure",
          data: error,
        };

        window.location.assign(generateValidateUrl(errorData));
      }
    };

    const handleSubmitClick = async (e) => {
      event.preventDefault();

      let encodedImage = "";

      const coverImg = coverImageInput.files[0];

      if (coverImg) {
        encodedImage = await encodeImage(coverImg);
      }

      const data = {
        metaData: {
          title: postTitle.value,
        },
        content: {
          text: postContent.value,
        },
        images: {
          coverImage: encodedImage,
        },
        deleteImage: deleteImage,
      };

      handlePutRequest(data);
    };

    form.addEventListener("submit", handleSubmitClick);

    // Add image to page on input change
    coverImageInput.addEventListener("change", (event) => {
      const file = event.target.files[0];

      if (file) {
        coverImageOutput.classList.remove("d-none");
        coverImageOutput.src = URL.createObjectURL(file);
      } else {
        coverImageOutput.classList.add("d-none");
      }
    });

    // Handle get image
    const getRequest = async (url) => {
      return fetch(url, {
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      });
    };

    const handleGetCoverImage = async () => {
      const post_id = "{{post.meta_data.id}}";

      const imageUrl = `/get-media?postId=${post_id}&mediaName=cover_image`;

      try {
        const response = await getRequest(imageUrl);

        const resBody = await response.json();

        const mediaSrc = resBody.mediaSrc;

        if (mediaSrc) {
          coverImageOutput.src = mediaSrc;
          coverImageOutput.classList.remove("d-none");
        }
      } catch (error) {
        console.log(error);
      }
    };

    const handleLoading = async () => {
      await handleGetCoverImage();
      document.getElementById("loadingSpinner").classList.add("d-none");
    };

    handleLoading();
  });
</script>

{% endblock main %}
