{% extends 'layout.html' %} {% block main %}

<section class="py-5 container">
  <div class="row py-lg-5 d-flex justify-content-center">
    <div class="col-8">
      <h1 class="fw-light text-center">
        Post Title: {{data.post.meta_data.title}}
      </h1>
      <div class="col-8 mb-3">
        <img
          width="700px"
          height="300px"
          id="coverImage"
          class="post-cover-image d-none"
        />
      </div>

      <div data-data="{{ json_dump }}" id="dataDiv">
        <div>
          <p class="lead text-muted">Meta Data:</p>
          <pre id="preTagMeta"></pre>
        </div>

        <div>
          <p class="lead text-muted">Images:</p>
          <pre id="preTagImages"></pre>
        </div>

        <div>
          <p class="lead text-muted">Content:</p>
          <pre id="preTagContent"></pre>
        </div>
      </div>

      <p class="text-center">
        <button id="deleteButton" class="btn btn-danger my-2">Delete</button>
        <a
          href="/post/{{data.post.meta_data.id}}/edit"
          class="btn btn-secondary my-2"
          >Edit</a
        >
      </p>
    </div>
  </div>
</section>

<script>
  const generateValidateUrl = (data) => {
    const baseUrl = "/validate?data=";
    return baseUrl + JSON.stringify(data);
  };

  const deleteRequest = (url) => {
    return fetch(url, {
      method: "DELETE", // *GET, POST, PUT, DELETE, etc.
      mode: "cors", // no-cors, *cors, same-origin
      cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
      credentials: "same-origin", // include, *same-origin, omit
      redirect: "follow", // manual, *follow, error
      referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    });
  };

  const handleDelete = async () => {
    const postId = "{{data.post.meta_data.id}}";
    const deleteUrl = `/post/${postId}`;

    try {
      const response = await deleteRequest(deleteUrl);
      const resData = await response.json();

      if (resData.error) {
        const data = {
          title: "Delete Failure",
          data: error,
        };
        window.location.assign(generateValidateUrl(data));
      }

      const validateData = {
        title: "Delete Success",
        data: resData,
      };

      window.location.assign(generateValidateUrl(validateData));
    } catch (error) {
      const validateData = {
        title: "Delete Failure",
        data: error,
      };

      window.location.assign(generateValidateUrl(validateData));
    }
  };

  document.getElementById("deleteButton").onclick = handleDelete;

  window.addEventListener("load", () => {
    const dataDiv = document.getElementById("dataDiv");
    const rawData = dataDiv.dataset.data;
    const jsonData = JSON.parse(rawData);

    // Set meta
    const preTagMeta = document.getElementById("preTagMeta");
    preTagMeta.innerHTML = JSON.stringify(jsonData.post.meta_data, null, 4);

    // Set content
    const preTagContent = document.getElementById("preTagContent");
    preTagContent.innerHTML = JSON.stringify(jsonData.post.content, null, 4);

    // Set content
    const preTagImages = document.getElementById("preTagImages");
    preTagImages.innerHTML = JSON.stringify(jsonData.post.image_map, null, 4);

    // Handle get image
    const getRequest = async (url) => {
      return fetch(url, {
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
          // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      });
    };

    const handleGetCoverImage = async () => {
      const post_id = "{{data.post.meta_data.id}}";
      const coverImageOutput = document.getElementById("coverImage");

      const imageUrl = `/get-image/${post_id}?imageName=cover_image`;

      try {
        const response = await getRequest(imageUrl);

        const resBody = await response.json();

        const imageSrc = resBody.imageSrc;

        if (imageSrc) {
          coverImageOutput.src = imageSrc;
          coverImageOutput.classList.remove("d-none");
        }
      } catch (error) {
        console.log(error);
      }
    };

    const handleLoading = async () => {
      await handleGetCoverImage();
      document.getElementById("loadingSpinner").classList.add("d-none");
    };

    handleLoading();
  });
</script>

{% endblock main %}
