{% extends 'layout.html' %} {% block main %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      {% if post.error == true %}
      <h1 class="fw-light">There was an error</h1>
      <p class="lead text-muted">Data:</p>
      <p class="">{{post.message}}</p>
      {% else %}
      <h1 class="fw-light">Post Data</h1>
      <p class="lead text-muted">Data:</p>
      <p class="">{{post}}</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Delete</a>
        <a href="#" class="btn btn-secondary my-2">Update</a>
      </p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock main %}
