{% extends 'layout.html' %} {% block main %}

<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light text-center">{{data.title}}</h1>
      <p class="lead text-muted">Data:</p>
      <div data-data="{{ json_dump }}" id="dataDiv">
        <pre id="preTag"></pre>
      </div>
      <p class="text-center">
        {% if data.deleted != True %}
        <a href="/post/{{data.data.meta_data.id}}" class="btn btn-primary my-2"
          >View</a
        >
        {% endif %}
        <a href="/" class="btn btn-primary my-2">Home</a>
        <a href="/post" class="btn btn-secondary my-2">Posts</a>
      </p>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", () => {
    const dataDiv = document.getElementById("dataDiv");
    const data = dataDiv.dataset.data;

    const preTag = document.getElementById("preTag");
    preTag.innerHTML = JSON.stringify(JSON.parse(data).data, null, 4);
  });
</script>

{% endblock main %}
